<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dylanmcdowell.thetowersapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //Main Activity - Main Page
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //Sign In Activity - LAUNCHER ACTIVITY
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Create Profile Activity
        <activity android:name=".CreateProfileActivity">
        <intent-filter>
            <action android:name="android.intent.action.CREATEPROFILE" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity android:name=".InboxActivity" />
        <activity android:name=".PendingRequestsActivity" />
        <activity android:name=".MaintenanceRequestActivity" />
        <activity android:name=".SubmitRequestActivity">
        <intent-filter>
            <action android:name="android.intent.action.SUBMITREQUEST" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity android:name=".ViewMessageActivity"></activity>
        <activity android:name=".ComposeMessageActivity">
        <intent-filter>
            <action android:name="android.intent.action.COMPOSEMESSAGE" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
    </application>

</manifest>