<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dylanmcdowell.thetowersapplication">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //Main Activity - Main Page
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //Sign In Activity - LAUNCHER ACTIVITY
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Create Profile Activity
        <activity android:name=".CreateProfileActivity">
        <intent-filter>
            <action android:name="android.intent.action.CREATEPROFILE" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        //Inbox activity
        <activity android:name=".InboxActivity">
        <intent-filter>
            <action android:name="android.intent.action.INBOX" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        //Pending Request Activity
        <activity android:name=".PendingRequestsActivity">
        <intent-filter>
            <action android:name="android.intent.action.PENDINGREQUESTS" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        // Maintenance Request Activity
        <activity android:name=".MaintenanceRequestActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAINTENANCEREQUEST" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        //Submit Request Activity
        <activity android:name=".SubmitRequestActivity">
            <intent-filter>
                <action android:name="android.intent.action.SUBMITREQUEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        //View Message Activity
        <activity android:name=".ViewMessageActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEWMESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ComposeMessageActivity">
        <intent-filter>
            <action android:name="android.intent.action.COMPOSEMESSAGE" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
    </application>

</manifest>